@import url('commitet_jm.css');
@import url('view/main-view.css');
@import url('view/main-view-top-menu.css');
@import url('view/login-view.css');
html {
    --lumo-border-radius: calc(var(--lumo-size-m) / 2);

    --lumo-primary-color: rgb(0, 80, 166);
    --lumo-primary-color-50pct: rgba(150, 80, 166, 0.7);
    --lumo-primary-color-10pct: rgba(0, 80, 166, 0.1);
    --lumo-primary-text-color: rgb(0, 85, 166);
}