<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Путь к папке с логами -->
    <property name="LOG_DIR" value="logs"/>

    <!-- Шаблон для записи логов -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${currentDate}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <append>true</append>
    </appender>

<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </root>-->

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.springframework.web" level="WARN"/>

    <timestamp key="currentDate" datePattern="yyyyMMdd"/>
</configuration>
